.periodic-table {
    width: 100%;
    min-width: 600px;
    margin: 30px auto;
}

.periodic-table > div {
	width: 4.5%;
	display: inline-block;
}

.periodic-table > div > div {
    border: 1px solid white;
    box-sizing: border-box;
    text-align: center;
    background: blue;
    padding: 20% 0;
    color: white;
}

.periodic-table > div > div:hover {
  cursor: pointer;
  opacity: 0.75;
}
