.periodic-table {
    width: 100%;
    min-width: 600px;
}

.periodic-table > div {
	width: 5.5%;
	display: inline-block;
}

.periodic-table > div > div {
    border: 1px solid white;
    box-sizing: border-box;
    text-align: center;
    background: blue;
    padding: 20% 0;
    color: white;
}

.periodic-table > div > div:hover {
  cursor: pointer;
  opacity: 0.75;
}

.action {
  font-weight: bold;
}
